h1 {
	color: #ff9999;
}
h2 {
	color: #1e5fc9;
}
a {
	color: red;
	text-decoration: none;
}
#nav 	{ 
	margin:10px 5px 5px 10px;
	border:5px dotted red;


}
#nav a {
	text-decoration: none;
	color: #418329
}
.recomended {
	font-family:Verdana;
	font-variant: small-caps;
	word-spacing: 30px
}